/* .btn-primary {
  background-color: #DD751E !important;
  border-color: #DD751E !important;
  color: #fafafa !important;
  border-radius: 25px !important;
  box-shadow: 0 15px 15px 0 rgba(133, 133, 133, 0.25) !important;
  transition: 350ms ease-in-out, box-shadow 300ms ease-in-out !important;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #fafafa !important;
  border: 0.5px solid #DD751E !important;
  color: #DD751E !important;
  border-radius: 25px !important;
  box-shadow: 0 5px 5px 0 rgba(133,133,133,0.25) !important;
  transform: scale(0.98) !important;
} */

/* .heading-text, .links {
    background: linear-gradient(45deg, #f3ec78, #ec235c) !important;
    -webkit-text-fill-color: transparent !important; 
    background-clip: text !important;
}

input[type=email], input[type=password] {
	border: 0.5px solid #F9AA33 !important;
    transition: all 350ms ease !important;
}

input[type=email]:focus, input[type=password]:focus {
	background-color: transparent !important;
	border: 0.5px solid #F9AA33 !important;
    box-shadow: 0 1px 0 0 #F9AA33 !important;
    padding-left: 20px !important;
} */

.default-layout {
  display: grid;
  grid-template-rows: 80px auto 3rem;
  grid-template-areas:
  "header"
  "main"
  "footer"
}

header {
  grid-area: header;
}
main {
  grid-area: main;
  min-height: 87vh;
}
footer{
  grid-area: footer;
  background: #F9AA33;
  padding: 1rem;
}

.breadcrumb {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
